@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* 1. The Base Color */
    background-color: #2b2b2b;
  }
}

@layer utilities {
  .terminal-window {
    background: #000000;
    border: none;
    border-radius: 4px;
  }



  .terminal-text {
    font-family: 'Fira Code', monospace;
    color: #33ff33;
    text-shadow:
      0 0 5px rgba(51, 255, 51, 0.4),
      0 0 10px rgba(51, 255, 51, 0.2);
  }

  .terminal-text-blue {
    font-family: 'Fira Code', monospace;
    color: #33ccff;
    text-shadow:
      0 0 5px rgba(51, 204, 255, 0.4),
      0 0 10px rgba(51, 204, 255, 0.2);
  }

  .scanline {
    background: linear-gradient(to bottom,
        transparent 0%,
        transparent 50%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.3) 100%);
    background-size: 100% 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 20;
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}